.section-2 {
  padding-top: 40px;
  padding-bottom: 40px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: $bg-gradient;
}

.section-2__title {
  color: #fff;

  @media (min-width: 1200px) {
    display: block;
  }
}

.section-2__wrapper {
  max-width: 280px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: 768px) {
    max-width: 620px;
  }

  @media (min-width: 1200px) {
    display: flex;
    max-width: none;
    align-items: flex-start;
  }
}

.section-2__title,
.secondary-title-sm {
  padding-top: 20px;
  padding-bottom: 35px;
  font-weight: 700;

  &--blue {
    color: $bright-color;
  }

  @media (min-width: 1200px) {
    width: 200px;
    margin-right: 150px;
  }
}

.box-wrapper {
  @media (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.box {
  margin-bottom: 35px;
  width: 262px;
  color: #6b6f7a;
  font-size: 14px;
  font-family: $main-font-stack;
  line-height: 1.7;
  &__strong {
    color: $title-color;
    font-weight: 700;
  }
}

.box::before {
  display: block;
  content: '';
  width: 12px;
  height: 12px;
  background-color: $marker-color;
  margin-bottom: 15px;
}
