.color-text1 {
  color: $marker-color;
  text-decoration: none;
  list-style: none;
}

.success_history-item {
  width: 268px;
  margin: 0 auto;
}

.success_history {
  list-style: none;

  &-item--decoration {
    font-size: 24px;
    font-family: $main-font-stack;
    color: $main-color;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.25;
  }

  &-item--text {
    font-size: 14px;
    font-family: $main-font-stack;
    color: $main-color;
    font-weight: 700;
    line-height: 1.5;
  }

  &-item--color {
    font-size: 14px;
    font-family: $main-font-stack;
    color: $text-color;
    font-weight: 400;
    line-height: 1.5;
  }
}

@media (min-width: 768px) {
  .success {
    width: 608px;
    margin: 0 auto;
    margin-top: 60px;
  }

  .success_history {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    
    &-item {
      width: 276px;
    }
  }
}

@media (min-width: 1200px) {
  .success {
    width: 900px;
  }

  .success_history-item {
    width: 400px;
  }
}
