.text {
  color: #fff;
  text-align: center;
  margin: auto;
  font-family: $main-font-stack;
}

.header {
  &__image {
    background-image: url(../images/mobile-image-top.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 65%;
  }

  &__title {
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 30px;
    color: #fff;
  }

  &__subtitle {
    font-size: 30px;
    text-transform: uppercase;
    width: 220px;
    line-height: 1.3;
    padding-bottom: 25px;
    font-weight: bold;
  }

  &__text {
    width: 160px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4;
    color: #6b6f78;
    padding-bottom: 170px;
  }
}

.site-logo {
  text-align: center;
  margin-bottom: 35px;
  padding-top: 30px;
}

.site-logo a:hover {
  box-shadow: 0 2px 0 0 #fff;
}
@media (min-width: 768px) {
  .header {
    &__image {
      height: 600;
      background-image: url(../images/tablet-image-top.jpg);
      background-repeat: no-repeat;
      background-size: cover;
    }

    &__title {
      font-size: 36px;
      padding-bottom: 10px;
    }

    &__subtitle {
      font-size: 46px;
      width: 600px;
      line-height: 1.3;
      padding-bottom: 15px;
    }

    &__text {
      width: 280px;
      padding-bottom: 360px;
    }
  }
}

.site-logo {
  margin-bottom: 20px;
  padding-top: 25px;
}

@media (min-width: 1200px) {
  .header {
    &__image {
      height: 600px;
      background-image: url(../images/landing-image-top.jpg);
      background-repeat: no-repeat;
      background-size: cover;
    }

    &__title {
      font-size: 36px;
      padding-bottom: 24px;
    }

    &__subtitle {
      font-size: 46px;
      width: 600px;
      line-height: 1.3;
      padding-bottom: 20px;
    }

    &__text {
      width: 280px;
    }
  }
}
