/*
 * Все паршалы импортировать в этот файл
 */

@import 'helper/variables.scss'; 
@import 'normalize.scss';
@import 'base.scss';

@import 'header.scss';
@import 'sections/section_1.scss';
@import 'sections/section_2.scss';
@import 'sections/section_3.scss';
@import 'sections/section_4.scss';
@import 'sections/section_5.scss';
@import 'sections/section_6.scss';
@import 'footer.scss';