@font-face {
  font-family: 'Acrom';
  src: url(../fonts/Acrom-Bold.woff);
  src: url(../fonts/Acrom-Bold.woff2);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Acrom';
  src: url(../fonts/Acrom-ExtraBold.woff);
  src: url(../fonts/Acrom-ExtraBold.woff2);
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Acrom';
  src: url(../fonts/Acrom-Light.woff);
  src: url(../fonts/Acrom-Light.woff2);
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Acrom';
  src: url(../fonts/Acrom-Medium.woff);
  src: url(../fonts/Acrom-Medium.woff2);
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Acrom';
  src: url(../fonts/Acrom-Regular.woff);
  src: url(../fonts/Acrom-Regular.woff2);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url(../fonts/Montserrat-Bold.woff);
  src: url(../fonts/Montserrat-Bold.woff2);
  font-weight: 700;
  font-style: normal;
}
