.hero-title-sm {
  @media (min-width: 320px) {
    font-size: 30px;
    font-family: $main-font-stack;
    font-weight: bold;
    /* text-transform: uppercase; */
    color: $title-color;

    &--blue {
      color: $main-color;
    }
  }
}

.secondary-title-sm {
  @media (min-width: 320px) {
    font-size: 20px;
    font-family: $main-font-stack;
    font-weight: bold;
    /* text-transform: uppercase; */
    color: $title-color;

    &--blue {
      color: $main-color;
    }
    &--weight {
      font-weight: 800;
    }
  }
}

.third-title-sm {
  @media (min-width: 320px) {
    font-size: 14px;
    font-family: $main-font-stack;
    font-weight: 400;
    color: $text-color;

    &--blue {
      color: $main-color;
    }
    &--weight {
      font-weight: 800;
    }
  }
}

.fourth-title-sm {
  @media (min-width: 320px) {
    font-size: 14px;
    font-family: $main-font-stack;
    font-weight: bold;
    /*  text-transform: uppercase;  */
    color: $text-color;

    &--blue {
      color: $main-color;
    }
    &--weight {
      font-weight: 800;
    }
  }
}

.fifth-title-sm {
  @media (min-width: 320px) {
    font-size: 16px;
    font-family: $main-font-stack;
    font-weight: 500;
    /* text-transform: uppercase; */
    color: $text-color;

    &--blue {
      color: $main-color;
    }
  }
}

.numbers-background {
  font-family: $secondary-font-stack;
  font-size: 70px;

  &--number-size {
    font-size: 65px;
  }
}

.sixth-title-sm {
  @media (min-width: 320px) {
    font-size: 18px;
    font-family: $main-font-stack;
    font-weight: 800;
    /* text-transform: uppercase;  */
    color: $title-color;
  }
}

.hero-title-md {
  @media (min-width: 768px) {
    font-size: 46px;
    font-family: $main-font-stack;
    font-weight: bold;
    /* text-transform: uppercase; */
    color: $title-color;

    &--blue {
      color: $main-color;
    }
  }
}

.secondary-title-md {
  @media (min-width: 768px) {
    font-size: 36px;
    font-family: $main-font-stack;
    font-weight: bold;
    color: $title-color;

    &--blue {
      color: $main-color;
    }
    &--weight {
      font-weight: 800;
    }
  }
}
