$main-font-stack: "Roboto", sans-serif;
$secondary-font-stack: Montserrat, Arial, Helvetica, sans-serif;
$header-background-color: rgb(14, 31, 52);
$title-color: rgb(255, 255, 255);
$text-color: rgb(120, 122, 132);
$main-color: rgb(27, 36, 54);
$dark-text-color: rgb(0, 0, 0);
$bright-color: rgb(23, 236, 255);
$marker-color: rgb(255, 108, 0);
$button-color: rgb(225, 107, 29);
$box-shadow: rgba(225, 107, 29, 0.59);
$light-numbers-color: rgb(246, 246, 246);
$bg-gradient: radial-gradient(circle closest-side, rgb(29,40,61) 0%, rgb(31,34,43) 100%);

